body{
  background-color: rgb(41, 47, 104);
  padding:5% 30%;
}
.main{
  display: flex;
  color: aliceblue;
}

.response{
  display: flex;
  border: solid 1px;
  margin-top: 5px;
  padding-bottom: 10px;
  border-radius: 6px;
  text-align: center;
  background-color: rgb(26, 30, 68,0.999);
  border-color: rgb(26, 30, 68,0.999);
}

.element{
  width: 15vw;
  margin-top: 10px;
}
.done-elt{
  width: 21vw;
  margin-top: 10px;
}
.check{
  padding-top: 10px;
}
.title{
  text-align: center;
  color: aliceblue;
  margin-bottom: 4%;
}
.todo{
  display: flex;
  flex-direction: column;
  border-color: aliceblue;
}
.input{
  background-color: rgb(37, 18, 61,0.999);
  text-align: center;
  outline: none;
  border: 0;
  height: 20px;
  color: aliceblue;
  width: 17vw;
  height: 4vh;

}
.done{
  margin-left: 20%;
  border-color: aliceblue;
}
.title{
  width: 17vw;
  height: 4vh;
  border: solid 1px;
  border-radius: 9px;
  padding-top: 3%;  
}