body{
  background-color: rgb(41, 47, 104);
  padding:5% 30%;
  
}
.main{
  display: flex;
  color: antiquewhite;
}
.response{
  display: flex;
  margin-top: 10px;
  
}
.element{
  width: 17vw;
  height: 3vh;
  margin-left: 2%;
  text-align: center;
  border-bottom: solid 1px;
  border-radius: 4px;
}
.check{
  margin-right: 10%;
}
.title{
  text-align: center;
  color: aliceblue;
  margin-bottom: 4%;
}
.todo{
  display: flex;
  flex-direction: column;
  border-color: aliceblue;
}
.input{
  background-color: rgb(37, 18, 61,0.9);
  text-align: center;
  outline: none;
  border: 0;
  height: 20px;
  color: aliceblue;
  width: 17vw;
  height: 4vh;

}
.done{
  margin-left: 20%;
  border-color: aliceblue;
}
.title{
  width: 17vw;
  height: 4vh;
  border: solid 1px;
  border-radius: 9px;
  padding-top: 3%;  
}